<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="//karllhughes.us15.list-manage.com/subscribe/post?u=4eba8b205fc13380cd3e6f3fc&amp;id=41425f11ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h2>Enter your email to be notified when this course is ready</h2>
      <p>Unlocking Docker will be ready soon, so sign up to be among the first to find out about it.</p>
      <p class="mc-field-group">
        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </p>
      <p class="mc-field-group">
        <label for="mce-NAME">Name </label>
        <input type="text" value="" name="NAME" class="" id="mce-NAME">
      </p>
      <p class="mc-field-group">
        <label for="mce-COMPANY">Company </label>
        <input type="text" value="" name="COMPANY" class="" id="mce-COMPANY">
      </p>
      <div class="mc-field-group">
        <label for="mce-UPDATES">Receive Updates </label>
        <select name="UPDATES" class="" id="mce-UPDATES">
          <option value="Weekly, when new tips are posted">Weekly, when new tips are posted</option>
          <option value="Rarely, only when a new course is released">Rarely, only when a new course is released</option>
        </select>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4eba8b205fc13380cd3e6f3fc_41425f11ef" tabindex="-1" value=""></div>
      <p class="clear">
        <input type="submit" value="Download Now" name="subscribe" id="mc-embedded-subscribe" class="button">
      </p>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
