<div id="course-form" class="form-container course-form-1">
  <h1>Get Notified When this Course is Ready</h1>
  <p style="font-size: 14px">We're still finishing this course, but if you sign up now, you'll be the first to hear about it when it's ready! In the meantime, you can also check out our <a href="/#blog">blog</a> or our <a href="/books">books</a>.</p>
  <div class="row">
    <div>
      <form method="POST" action="//formspree.io/info@shiphp.com">
        <p>
          <label class="required" for="first_name">First Name</label>
          <input type="text" id="first_name"  name="first_name" placeholder="First Name" required>
        </p>
        <p>
          <label class="required" for="last_name">Last Name</label>
          <input type="text" id="last_name"  name="last_name" placeholder="Last Name" required>
        </p>
        <p>
          <label class="required" for="email">Email Address</label>
          <input type="email" id="email" name="email" placeholder="you@example.com" required>
        </p>
        <p>
          <label for="company">Company</label>
          <input type="text" id="company"  name="company" placeholder="The company or organization requesting training">
        </p>
        <input type="submit" value="Keep Me Updated!">
      </form>
    </div>
  </div>
</div>
