<div class="form-container ebook-cta">
  <h1>Like this Post? Get My eBook for FREE!</h1>
  <h3>Learn to build your first Dockerized PHP application.</h3>
  <div class="row">
    <div style="width: 53%; float: left">
      <p>In this book, PHP developers will learn everything they need to know to start building their applications on Docker, including:</p>
      <ul>
        <li>Installing dependencies using Composer.</li>
        <li>Getting data from a third-party API.</li>
        <li>Saving data to a MySQL database.</li>
        <li>Using a web framework (SlimPHP) for routing.</li>
        <li>Storing environmental variables securely.</li>
        <li>And much more!</li>
      </ul>
      <p>You can <a href="https://leanpub.com/first-php-docker-application" target="_blank">buy this book on Leanpub</a> or sign up for my mailing list to get a coupon code to download it for <strong>FREE</strong>.</p>
      <p>
        <a class="btn btn-download" href="/books#download-form">Get a FREE Coupon</a>
        <a class="btn btn-info" href="https://leanpub.com/first-php-docker-application">Buy it Now</a>
      </p>
    </div>
    <div style="width: 43%; float: left; margin-left: 4%;">
      <div class="form-image">
        <a href="/books#building-your-first-php-application-with-docker">
        <img src="https://i.imgur.com/cl0oryl.jpg" alt="Building PHP Applications in Docker by Karl Hughes">
        </a>
      </div>
    </div>
  </div>
</div>
<!--End mc_embed_signup-->
