<div class="form-container ebook-cta">
  <h1>Like this Post? Get our Free eBook</h1>
  <h3>Learn to build your first Dockerized PHP application.</h3>
  <div class="row">
    <div style="width: 53%; float: left">
      <p>In this book, PHP developers will learn everything they need to know to start building their applications on Docker, including:</p>
      <ul>
        <li>Installing dependencies using Composer in Docker</li>
        <li>Using data volumes and MySQL database containers</li>
        <li>Running an Apache web server in Docker</li>
        <li>Storing environmental variables securely</li>
        <li>And much more</li>
      </ul>
      <p>Best of all, the book is <strong>100% free!</strong></p>
      <p>
        <a class="btn btn-download" href="/books#download-form">Download Now!</a>
      </p>
    </div>
    <div style="width: 43%; float: left; margin-left: 4%;">
      <div class="form-image">
        <a href="/books#building-php-applications-in-docker">
        <img src="https://i.imgur.com/cl0oryl.jpg" alt="Building PHP Applications in Docker by Karl Hughes">
        </a>
      </div>
    </div>
  </div>
</div>
<!--End mc_embed_signup-->
