<div class="form-container ebook-form-1">
  <h1>Get the Free eBook</h1>
  <h3>Learn to build your first Dockerized PHP application.</h3>
  <div class="row">
    <div id="mc_embed_signup" style="width: 53%; float: left">
      <!-- Begin MailChimp Signup Form -->
      <form action="https://karllhughes.us15.list-manage.com/subscribe/post?u=4eba8b205fc13380cd3e6f3fc&amp;id=f72fe95b7e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <p class="mc-field-group">
            <label for="mce-FNAME" class="required">First Name </label>
            <input type="text" value="" placeholder="First Name" name="FNAME" class="" id="mce-FNAME" required>
          </p>
          <p class="mc-field-group">
            <label for="mce-LNAME" class="required">Last Name </label>
            <input type="text" value="" placeholder="Last Name" name="LNAME" class="" id="mce-LNAME" required>
          </p>
          <p class="mc-field-group">
            <label for="mce-EMAIL" class="required">Email Address
            </label>
            <input type="email" value="" placeholder="you@example.com" name="EMAIL" class="required email" id="mce-EMAIL" required>
          </p>
          <p class="mc-field-group">
            <label for="mce-MMERGE5">Company </label>
            <input type="text" value="" name="MMERGE5" placeholder="Your employer or company" class="" id="mce-MMERGE5">
          </p>
          <input type="hidden" value="1" name="MMERGE4" id="mce-MMERGE4">
          <p id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </p>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4eba8b205fc13380cd3e6f3fc_f72fe95b7e" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Download Now!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
      <!--End mc_embed_signup-->
    </div>
    <div style="width: 43%; float: left; margin-left: 4%;">
      <div class="form-image">
        <a href="/books#building-php-applications-in-docker">
        <img src="https://i.imgur.com/cl0oryl.jpg" alt="Building PHP Applications in Docker by Karl Hughes">
        </a>
      </div>
    </div>
  </div>
</div>
<!--End mc_embed_signup-->
