<div class="form-container ebook-form-1">
  <h1>Learn to Build Your First PHP Application with Docker</h1>
  <div class="row">
    <div style="width: 73%; float: left">
      <p>Docker has quickly become the container engine of choice, and it may be replacing a virtual machine near you soon. This book offers a step-by-step guide to walk you through building your first real PHP web application using Docker while explaining the basics of the platform along the way.</p>
      <p>You can <a href="https://leanpub.com/first-php-docker-application" target="_blank">buy the eBook on Leanpub</a> today.</p>
      <p>
        <a href="https://leanpub.com/first-php-docker-application" target="_blank" class="btn btn-download" style="width: inherit">Download Now!</a>
      </p>
    </div>
    <div style="width: 23%; float: left; margin-left: 4%;">
      <div class="form-image">
        <a href="/books#building-your-first-php-application-with-docker">
        <img src="https://i.imgur.com/Gui5RIk.png" alt="Building Your First PHP Application with Docker by Karl Hughes">
        </a>
        <p class="caption">Also <a href="https://leanpub.com/first-php-docker-application-ru" target="_blank">available in Russian</a>.</p>
      </div>
    </div>
  </div>
</div>
