<footer class="footer">
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
  <div class="post-date">
    <a href="https://www.karllhughes.com/" target="_blank">© {{ site.data.settings.author.name }}</a> | <a href="/contact">Contact</a> | <a href="/about">About</a>
  </div>
</footer>
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="d293e2268d0b41a294cb758dbd76600c8d651809bf144648aa6bbcde7f10ca9e",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>